/*main2.css*/




*{  
text-align: center;  
color: blue;
}

footer{
background-color: black;
color:white;
text-align: center;
padding: 10px 0px;
width:100%;
}

table{
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
width:80;
}

td,th{
border: 2px solid black;
}

tr{
background-color:red;
}